body{
      font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}
header{
    background-color: burlywood;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1{
    font-size: 34px;
    margin: 0;
}

.contents{
    padding: 10px;
    max-width: 900px;
    margin: 0 auto;
}

.biography{
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Achievements{
    margin-top: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Achievements h2{
    font-size: 24px;
    margin-bottom:10px;
}

footer{
    text-align: center;
    background-color: burlywood;
    margin: 0;
    padding: 10px;
    color: #fff;
    bottom: 0;
    width: 100%;
}
